<h1 style="display:inline-block; margin-left:50px; margin-right:50px;">SKELTOR!</h1>
<div id="navbar" style="display:inline-block;">
<% if logged_in? %>
    <a style="margin: 10px 10px 10px 10px;" href='/logout'>Logout</a></li>
    <a style="margin: 10px 10px 10px 10px;" href='/'>Home</a></li>
<% else %>
    <a style="margin: 10px 10px 10px 10px;" href='/users/new'>Register</a></li>
    <a style="margin: 10px 10px 10px 10px;" href='/sessions'>Login</a></li>
    <a style="margin: 10px 10px 10px 10px;" href='/'>Home</a></li>
<% end %>
</div>
