<div id="skeletors">
  <img src="https://www.shitpostbot.com/img/sourceimages/skeletor-57eb36456b537.png" alt="loungin skeletor">
  <% @users.each do |user| %>
    <p style="margin-left: 20px";><%= "#{user.username} - #{user.email}" %></p>
  <% end %>
</div>
